<p id="notice"><%= notice %></p>

<p>
  <strong>Username:</strong>
  <%= @user.username %>
</p>

<p>
    has made <%= @user.ratings.count %> ratings, average <%= @user.average_rating %>
</p>

<p>
    <strong>Ratings</strong>
    <% if @user.ratings.empty? %>
    <p>No ratings</p>
    <% else %>
    <ul>
        <% @user.ratings.each do |rating| %>
            <li><%= rating %> <% if current_user %><%= link_to 'delete', rating, method: :delete %><% end %></li>
        <% end %>
    </ul>
    <% end %>
</p>

<p>
    <strong>Beer club memberships</strong>
    <% if @user.memberships.empty? %>
    <p>No memberships</p>
    <% else %>
    <ul>
        <% @user.memberships.each do |membership| %>
            <li><%= link_to membership.beerclub.name, membership.beerclub %> <% if current_user %><%= link_to 'delete', membership, method: :delete %><% end %></li>
        <% end %>
    </ul>
    <% end %>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
